  <!-- Header -->
  <div class="main-header">
  <div class="secondary-overlay">
  <div id="home" class="showcase container">
    <div class="row">
      <h1 class="blue-text center">Basic Authentication with Passport + Sequelize in an Express.js Web App</h1>
      <br/>
      <div class="col s6 center">
        <a href="/account/signin" class="btn btn-large green white-text">Sign In</a>
      </div>
      <div class="col s6 center">
        <a href="/account/signup" class="btn btn-large green white-text">Sign Up</a>
      </div>
    </div>
  </div>
  </div>
</div>
<button onclick="document.querySelector('#flip-toggle').classList.toggle('hover');" class="sexyButton">Toggle Flip</button>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');" id="flip-toggle">
	<div class="flipper">
		<div class="front">
      <!-- front content -->
      <h1 class="blue-text">Front content</h1>
		</div>
		<div class="back">
      <!-- back content -->
      <h1 class="blue-text">Back content</h1>
		</div>
	</div>
</div>

        <!-- <ul class="pricing-list bounce-invert">
          <% products.forEach((product, i) => { %>
            <% product.plans.forEach((plan, j) => { %>
          <li>
            <ul class="pricing-wrapper">
              <% if( product.name === 'monthly') { %>
               
              <li data-type="monthly" class="is-visible">
                <header class="pricing-header">
                  <h2><%= plan.nickname %></h2>
                  <div class="price">
                    <span class="currency">$</span>
                    <span class="value"><%= plan.amount %></span>
                    <span class="duration">mo</span>
                  </div>
                </header>
                <div class="pricing-body">
                    <ul class="pricing-features">
                      <li><em>5</em> Email Accounts</li>
                      <li><em>1</em> Template Style</li>
                      <li><em>25</em> Products Loaded</li>
                      <li><em>1</em> Image per Product</li>
                      <li><em>Unlimited</em> Bandwidth</li>
                      <li><em>24/7</em> Support</li>
                  </ul>
                </div>
                <footer class="pricing-footer">
                  <a class="select" href="#">Sign Up</a>
                </footer>
              </li>
             
              <%} %>
              <% if( product.name === 'annually') { %>
              <li data-type="yearly" class="is-hidden">
                <header class="pricing-header">
                  <h2><%= plan.nickname %></h2>
                  <div class="price">
                    <span class="currency">$</span>
                    <span class="value"><%= plan.amount %></span>
                    <span class="duration">yr</span>
                  </div>
                </header>
                <div class="pricing-body">
                  <ul class="pricing-features">
                    <li><em>5</em> Email Accounts</li>
                    <li><em>1</em> Template Style</li>
                    <li><em>25</em> Products Loaded</li>
                    <li><em>1</em> Image per Product</li>
                    <li><em>Unlimited</em> Bandwidth</li>
                    <li><em>24/7</em> Support</li>
                </ul>
                </div>
                <footer class="pricing-footer">
                  <a class="select" href="#">Sign Up</a>
                </footer>
              </li>
              <% } %>
            </ul>
          </li>
          <%}) %>
          <% }) %>
        </ul> -->
      </div>
  </div>



