<div class="container">
  <div class="card-panel text-center">
    <h1 class="blue-text"><span class="fa fa-lock"></span> Authentication System</h1>
    <div class="row">
      <div class="col s6">
        <a href="/account/signin" class="btn btn-default blue"> <span class="fa fa-user"></span>Local Login</a>
      </div>
      <div class="col s6">
        <a href="/account/signup" class="btn btn-default blue"><span class="fa fa-user"></span>Local Signup</a>
      </div>
    </div>
  </div>
</div>
 